<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta content="{{ page.description }}" name="description">
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% include analytics.html %}
</head>

<body>
  <div id="container">
    <header>
      <h1 id="title"><a href="/">Erlang Italia</a></h1>
      <nav>
        <ul class="unstyled">
          {% include navigation.html %}
        </ul>
      </nav>
    </header>

    <div id="main">
      {{ content }}
    </div>

    <footer>
      <nav>
        <ul class="unstyled">
          <li><a href="/">Home</a></li>
          {% include navigation.html %}
        </ul>
      </nav>
    </footer>
  </div>
</body>
</html>